[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shortuuid = "*"
maskpass = "*"
tabulate = "*"
pytest = "*"
pytest-cov = "*"
pytz = "*"
pytest-mock = "*"
flask = "*"
flask-smorest = "*"
python-dotenv = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.11"
