<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <a href="{{ url_for('home') }}">Home</a>
        {% block content %}   <!-- Here we can change the name of content to anything but 'block' should be as it is -->

        {% endblock %}
    </body>
</html>