{% extends 'base.jinja2' %}

{% block content %}
<h1>Create post</h1>
<form method="POST"> 
    <div>
        <label for="cust_id">Customer ID</label>
        <input type="text" name="cust_id"/>
    </div>
    <div>
        <label for="cust_name">Customer Name</label>
        <input type="text" name="cust_name"/>
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" name="age"/>
    </div>
    <div>
        <label for="gender">Gender</label>
        <input type="text" name="gender"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label for="mobile_no">Mobile No</label>
        <input type="text" name="mobile_no"/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
{% endblock %}